#stars {
    width: 1px;
    height: 1px;
    
    box-shadow: 1541px 1984px #666, 94px 47px #666, 917px 1477px #666,
      568px 77px #666, 1260px 368px #666, 985px 692px #666, 1425px 1509px #666,
      1076px 165px #666, 631px 1304px #666, 592px 1529px #666, 1755px 1031px #666,
      1297px 594px #666, 1593px 239px #666, 81px 393px #666, 1769px 114px #666,
      384px 762px #666, 92px 2000px #666, 1627px 1863px #666, 1241px 380px #666,
      1522px 560px #666, 557px 285px #666, 1771px 150px #666, 387px 179px #666,
      318px 832px #666, 373px 908px #666, 1638px 1793px #666, 1838px 114px #666,
      518px 81px #666, 594px 1094px #666, 626px 1390px #666, 1610px 1222px #666,
      1613px 437px #666, 636px 149px #666, 1635px 743px #666, 1999px 1573px #666,
      1608px 441px #666, 784px 1572px #666, 872px 68px #666, 1312px 1999px #666,
      1443px 1581px #666, 238px 730px #666, 763px 1878px #666, 932px 1616px #666,
      1814px 1763px #666, 1080px 736px #666, 138px 933px #666, 24px 115px #666,
      1443px 1208px #666, 1656px 1590px #666, 321px 398px #666, 1276px 1262px #666,
      1893px 1907px #666, 1923px 882px #666, 1403px 688px #666, 831px 112px #666,
      1464px 866px #666, 1729px 959px #666, 833px 925px #666, 490px 1147px #666,
      1140px 1801px #666, 259px 427px #666, 1627px 1950px #666, 1907px 116px #666,
      1336px 734px #666, 124px 1171px #666, 1797px 808px #666, 279px 923px #666,
      1515px 1140px #666, 1239px 589px #666, 212px 1912px #666, 8px 918px #666,
      258px 783px #666, 727px 1820px #666, 344px 360px #666, 1517px 1048px #666,
      822px 1598px #666, 1846px 630px #666, 401px 313px #666, 839px 1303px #666,
      511px 1112px #666, 339px 1678px #666, 1725px 222px #666, 12px 592px #666,
      462px 1079px #666, 1147px 1329px #666, 397px 750px #666, 1702px 1411px #666,
      1213px 1671px #666, 1234px 1271px #666, 403px 699px #666, 169px 1537px #666,
      797px 1797px #666, 1302px 1142px #666, 1226px 1250px #666, 430px 919px #666,
      1600px 1772px #666, 353px 1427px #666, 60px 969px #666, 321px 524px #666,
      761px 1037px #666, 1462px 1051px #666, 149px 1298px #666, 1163px 798px #666,
      1627px 551px #666, 1429px 1780px #666, 943px 1375px #666, 1374px 111px #666,
      1868px 1219px #666, 1299px 343px #666, 641px 1706px #666, 1811px 699px #666,
      1799px 1852px #666, 1792px 1842px #666, 1611px 1322px #666,
      1777px 1266px #666, 1910px 274px #666, 1756px 1293px #666,
      1446px 1110px #666, 606px 691px #666, 976px 1496px #666, 358px 198px #666,
      1401px 55px #666, 1487px 1074px #666, 1544px 1932px #666, 836px 372px #666,
      132px 141px #666, 1355px 155px #666, 134px 603px #666, 146px 1139px #666,
      1574px 1310px #666, 1898px 198px #666, 855px 1191px #666, 1221px 859px #666,
      1718px 799px #666, 1233px 1584px #666, 1886px 1022px #666, 579px 1699px #666,
      1432px 1676px #666, 249px 1496px #666, 1355px 129px #666, 1410px 1393px #666,
      1386px 781px #666, 1350px 1949px #666, 1667px 912px #666, 940px 561px #666,
      256px 172px #666, 347px 718px #666, 1708px 1474px #666, 1257px 1283px #666,
      940px 1042px #666, 467px 46px #666, 241px 1002px #666, 103px 1095px #666,
      154px 624px #666, 1304px 17px #666, 677px 284px #666, 1202px 1168px #666,
      262px 1136px #666, 15px 611px #666, 413px 1655px #666, 1577px 1797px #666,
      1493px 134px #666, 1307px 1617px #666, 838px 183px #666, 1302px 591px #666,
      158px 1114px #666, 1951px 407px #666, 1827px 585px #666, 1758px 1131px #666,
      1595px 1778px #666, 1498px 172px #666, 1562px 71px #666, 117px 1884px #666,
      872px 1871px #666, 499px 743px #666, 1896px 1321px #666, 338px 1591px #666,
      1757px 938px #666, 1722px 1500px #666, 647px 594px #666, 156px 729px #666,
      1886px 614px #666, 1164px 1465px #666, 1186px 657px #666, 1817px 1926px #666,
      848px 1195px #666, 975px 1918px #666, 194px 403px #666, 723px 745px #666,
      22px 677px #666, 958px 116px #666, 817px 614px #666, 340px 1598px #666,
      1799px 1106px #666, 1571px 1426px #666, 1374px 1615px #666,
      372px 1718px #666, 1633px 1594px #666, 1231px 1015px #666, 154px 1823px #666,
      121px 1662px #666, 1020px 192px #666, 339px 957px #666, 1257px 840px #666,
      1313px 1133px #666, 721px 1881px #666, 357px 1083px #666, 45px 917px #666,
      1977px 900px #666, 1900px 618px #666, 85px 97px #666, 1717px 1674px #666,
      558px 141px #666, 1783px 718px #666, 514px 963px #666, 1632px 1329px #666,
      629px 664px #666, 1289px 686px #666, 788px 619px #666, 1490px 130px #666,
      1463px 1397px #666, 1857px 1502px #666, 1387px 359px #666, 1055px 266px #666,
      1736px 400px #666, 660px 1278px #666, 1017px 1001px #666, 1057px 430px #666,
      1499px 771px #666, 1312px 1083px #666, 490px 1055px #666, 1132px 1619px #666,
      718px 1621px #666, 234px 467px #666, 1383px 1004px #666, 1360px 1871px #666,
      1133px 724px #666, 1874px 879px #666, 384px 1537px #666, 126px 46px #666,
      1732px 1801px #666, 191px 378px #666, 1429px 761px #666, 1436px 135px #666,
      955px 750px #666, 1276px 1335px #666, 1349px 1413px #666, 638px 49px #666,
      1756px 1322px #666, 1377px 133px #666, 1685px 1244px #666, 40px 1153px #666,
      1454px 1717px #666, 46px 691px #666, 1341px 234px #666, 1455px 1703px #666,
      1138px 1223px #666, 1716px 756px #666, 1677px 611px #666, 1332px 502px #666,
      718px 677px #666, 238px 95px #666, 1258px 503px #666, 1389px 110px #666,
      1035px 1222px #666, 1787px 1227px #666, 1847px 882px #666,
      1808px 1586px #666, 1946px 1977px #666, 1520px 1684px #666, 428px 711px #666,
      522px 204px #666, 1840px 1805px #666, 986px 866px #666, 1837px 97px #666,
      243px 800px #666, 1094px 1991px #666, 1296px 810px #666, 1656px 1842px #666,
      580px 1251px #666, 1851px 514px #666, 1559px 1408px #666, 379px 1262px #666,
      186px 1444px #666, 1326px 229px #666, 825px 1469px #666, 86px 314px #666,
      1370px 1838px #666, 1890px 741px #666, 490px 189px #666, 1730px 1011px #666,
      1112px 1803px #666, 1861px 1481px #666, 82px 945px #666, 57px 571px #666,
      1242px 1365px #666, 1994px 1468px #666, 1794px 1871px #666,
      1475px 948px #666, 439px 1642px #666, 138px 1545px #666, 1289px 1937px #666,
      1492px 248px #666, 207px 497px #666, 137px 1496px #666, 237px 748px #666,
      172px 1644px #666, 1751px 1856px #666, 241px 808px #666, 1382px 153px #666,
      817px 57px #666, 1693px 703px #666, 1948px 1787px #666, 779px 1740px #666,
      1042px 1517px #666, 1359px 48px #666, 1423px 411px #666, 1516px 1682px #666,
      1341px 130px #666, 1654px 1258px #666, 991px 353px #666, 996px 421px #666,
      240px 1635px #666, 1445px 951px #666, 1898px 435px #666, 1891px 1107px #666,
      175px 1540px #666, 1367px 1357px #666, 820px 604px #666, 1417px 1908px #666,
      1172px 1972px #666, 1782px 515px #666, 488px 156px #666, 1486px 1359px #666,
      699px 305px #666, 640px 1287px #666, 269px 496px #666, 568px 1082px #666,
      1808px 1334px #666, 1108px 1835px #666, 616px 739px #666, 475px 1669px #666,
      748px 534px #666, 248px 387px #666, 1131px 831px #666, 1992px 1754px #666,
      1105px 1339px #666, 1324px 1208px #666, 1419px 687px #666, 454px 803px #666,
      875px 1263px #666, 1973px 882px #666, 52px 1486px #666, 1778px 155px #666,
      971px 345px #666, 16px 1926px #666, 196px 1333px #666, 1769px 1017px #666,
      1817px 1473px #666, 205px 1756px #666, 851px 1832px #666, 910px 1636px #666,
      1050px 1541px #666, 16px 761px #666, 46px 232px #666, 1151px 393px #666,
      782px 1223px #666, 646px 439px #666, 25px 1174px #666, 460px 1357px #666,
      1903px 1363px #666, 177px 1086px #666, 976px 199px #666, 1244px 1494px #666,
      478px 1374px #666, 773px 1982px #666, 1929px 1257px #666, 1445px 485px #666,
      1286px 1567px #666, 1490px 1061px #666, 1802px 893px #666, 790px 1398px #666,
      1524px 1932px #666, 1738px 1614px #666, 1700px 1170px #666, 103px 73px #666,
      250px 230px #666, 1940px 1946px #666, 1616px 804px #666, 1630px 1544px #666,
      1860px 1131px #666, 1130px 20px #666, 1797px 807px #666, 919px 1687px #666,
      149px 105px #666, 1588px 942px #666, 906px 1074px #666, 924px 432px #666,
      1115px 11px #666, 537px 1828px #666, 525px 1000px #666, 1978px 1693px #666,
      254px 1037px #666, 22px 1940px #666, 1862px 855px #666, 121px 45px #666,
      1993px 897px #666, 401px 1778px #666, 870px 1968px #666, 1639px 1343px #666,
      767px 71px #666, 1908px 1767px #666, 882px 582px #666, 1117px 1055px #666,
      127px 837px #666, 803px 913px #666, 425px 598px #666, 1670px 39px #666,
      1431px 1809px #666, 917px 213px #666, 1491px 934px #666, 207px 1233px #666,
      1292px 545px #666, 239px 653px #666, 328px 422px #666, 428px 566px #666,
      236px 51px #666, 914px 1993px #666, 203px 1928px #666, 1644px 2000px #666,
      1005px 151px #666, 1619px 430px #666, 315px 216px #666, 721px 431px #666,
      1729px 717px #666, 1883px 1856px #666, 329px 580px #666, 1350px 1497px #666,
      77px 1916px #666, 131px 322px #666, 1919px 307px #666, 258px 21px #666,
      1386px 1897px #666, 1111px 41px #666, 1151px 1075px #666, 1982px 407px #666,
      1672px 1486px #666, 903px 1651px #666, 828px 245px #666, 1899px 1292px #666,
      833px 786px #666, 236px 514px #666, 711px 1677px #666, 1340px 207px #666,
      781px 1875px #666, 1732px 567px #666, 1069px 1591px #666, 383px 1543px #666,
      980px 1013px #666, 1693px 1136px #666, 624px 1967px #666, 1585px 955px #666,
      484px 1946px #666, 1031px 1335px #666, 1172px 937px #666, 1805px 1722px #666,
      1525px 748px #666, 472px 1401px #666, 1710px 521px #666, 1955px 593px #666,
      1004px 328px #666, 689px 783px #666, 202px 1517px #666, 655px 1178px #666,
      686px 579px #666, 1706px 456px #666, 1400px 199px #666, 1587px 693px #666,
      1353px 1095px #666, 1236px 1002px #666, 414px 628px #666, 743px 1674px #666,
      718px 1024px #666, 1125px 947px #666, 1299px 710px #666, 1864px 1076px #666,
      1231px 572px #666, 349px 967px #666, 928px 1893px #666, 1630px 82px #666,
      1235px 1115px #666, 1350px 1418px #666, 101px 1008px #666, 860px 1245px #666,
      1598px 1141px #666, 274px 1856px #666, 1429px 1615px #666,
      1448px 1461px #666, 1604px 214px #666, 221px 540px #666, 194px 454px #666,
      1026px 18px #666, 843px 643px #666, 930px 43px #666, 1287px 114px #666,
      431px 1882px #666, 1928px 1390px #666, 1567px 619px #666, 1030px 1409px #666,
      725px 1017px #666, 1250px 1039px #666, 137px 1535px #666, 1221px 1849px #666,
      215px 1592px #666, 1021px 1136px #666, 648px 1258px #666, 1808px 1933px #666,
      577px 1716px #666, 1674px 1389px #666, 679px 452px #666, 634px 562px #666,
      480px 905px #666, 407px 786px #666, 1422px 449px #666, 526px 16px #666,
      243px 1948px #666, 63px 1556px #666, 1303px 658px #666, 353px 37px #666,
      899px 1923px #666, 1827px 1302px #666, 989px 1990px #666, 1359px 840px #666,
      418px 268px #666, 736px 1505px #666, 951px 1324px #666, 34px 880px #666,
      1689px 1537px #666, 1068px 1257px #666, 1794px 75px #666, 999px 281px #666,
      709px 173px #666, 1607px 1311px #666, 622px 1433px #666, 393px 689px #666,
      709px 1086px #666, 318px 1350px #666, 68px 727px #666, 1713px 139px #666,
      560px 873px #666, 238px 1353px #666, 1221px 288px #666, 1618px 1623px #666,
      1190px 55px #666, 358px 1147px #666, 615px 769px #666, 998px 1285px #666,
      1632px 1223px #666, 1705px 410px #666, 1305px 558px #666, 987px 1586px #666,
      1060px 384px #666, 1840px 1027px #666, 71px 782px #666, 1883px 1528px #666,
      163px 1321px #666, 1293px 1589px #666, 1376px 1163px #666, 228px 459px #666,
      552px 228px #666, 803px 1148px #666, 1985px 1400px #666, 268px 1856px #666,
      1442px 1228px #666, 527px 982px #666, 20px 489px #666, 671px 79px #666,
      364px 1518px #666, 619px 1052px #666, 1196px 393px #666, 1251px 1281px #666,
      816px 247px #666, 569px 1370px #666, 692px 1840px #666, 372px 1532px #666,
      774px 1982px #666, 236px 599px #666, 1964px 1166px #666, 1856px 1535px #666,
      157px 727px #666, 737px 300px #666, 1185px 967px #666, 457px 1668px #666,
      563px 1069px #666, 95px 78px #666, 139px 1555px #666, 342px 1089px #666,
      8px 921px #666, 125px 932px #666, 727px 838px #666, 104px 984px #666,
      105px 1487px #666, 768px 233px #666, 881px 267px #666, 1107px 694px #666,
      1834px 936px #666, 1087px 1004px #666, 599px 265px #666, 1705px 164px #666,
      1529px 1014px #666, 1517px 1892px #666, 1429px 990px #666,
      1679px 1742px #666, 955px 1244px #666, 1350px 990px #666, 1981px 260px #666,
      398px 1556px #666, 212px 519px #666, 909px 382px #666, 1521px 511px #666,
      1659px 82px #666, 645px 1387px #666, 240px 1005px #666, 1220px 413px #666,
      410px 1350px #666, 1453px 1065px #666, 592px 1543px #666, 1050px 1490px #666,
      994px 454px #666, 371px 316px #666, 261px 1017px #666, 1706px 857px #666,
      1541px 1531px #666, 1141px 740px #666, 120px 1864px #666, 1756px 928px #666,
      1971px 1116px #666, 1011px 1900px #666, 841px 401px #666, 508px 1842px #666,
      1441px 1073px #666, 587px 789px #666, 1504px 531px #666, 234px 500px #666,
      826px 510px #666, 1030px 677px #666, 571px 658px #666, 1434px 885px #666,
      823px 1170px #666, 1342px 187px #666, 1902px 1509px #666, 1260px 767px #666,
      1851px 709px #666, 584px 138px #666, 1040px 5px #666, 69px 1494px #666,
      1774px 19px #666, 382px 776px #666, 1253px 943px #666, 199px 598px #666,
      912px 1079px #666, 1826px 1726px #666, 821px 1984px #666, 1908px 1608px #666,
      371px 742px #666, 148px 21px #666, 833px 244px #666, 147px 1039px #666,
      1175px 1810px #666, 86px 1149px #666, 1141px 1764px #666, 1592px 834px #666,
      1472px 446px #666, 1833px 1070px #666, 892px 1988px #666, 1998px 516px #666,
      1374px 1184px #666, 143px 1833px #666, 1371px 998px #666, 263px 1104px #666,
      1787px 1508px #666, 1101px 1066px #666, 1455px 897px #666, 867px 989px #666,
      300px 501px #666, 724px 604px #666, 983px 1177px #666, 1684px 1037px #666,
      460px 307px #666, 721px 1712px #666, 537px 708px #666, 685px 657px #666,
      1035px 890px #666, 1398px 1479px #666, 309px 839px #666, 582px 1977px #666,
      1930px 1759px #666, 761px 1641px #666, 492px 1952px #666, 102px 1542px #666;
    animation: animStar 50s linear infinite;
  }
  #stars:after {
    
    position: absolute;
    width: 1px;
    height: 1px;
    
    box-shadow: 1541px 1984px #666, 94px 47px #666, 917px 1477px #666,
      568px 77px #666, 1260px 368px #666, 985px 692px #666, 1425px 1509px #666,
      1076px 165px #666, 631px 1304px #666, 592px 1529px #666, 1755px 1031px #666,
      1297px 594px #666, 1593px 239px #666, 81px 393px #666, 1769px 114px #666,
      384px 762px #666, 92px 2000px #666, 1627px 1863px #666, 1241px 380px #666,
      1522px 560px #666, 557px 285px #666, 1771px 150px #666, 387px 179px #666,
      318px 832px #666, 373px 908px #666, 1638px 1793px #666, 1838px 114px #666,
      518px 81px #666, 594px 1094px #666, 626px 1390px #666, 1610px 1222px #666,
      1613px 437px #666, 636px 149px #666, 1635px 743px #666, 1999px 1573px #666,
      1608px 441px #666, 784px 1572px #666, 872px 68px #666, 1312px 1999px #666,
      1443px 1581px #666, 238px 730px #666, 763px 1878px #666, 932px 1616px #666,
      1814px 1763px #666, 1080px 736px #666, 138px 933px #666, 24px 115px #666,
      1443px 1208px #666, 1656px 1590px #666, 321px 398px #666, 1276px 1262px #666,
      1893px 1907px #666, 1923px 882px #666, 1403px 688px #666, 831px 112px #666,
      1464px 866px #666, 1729px 959px #666, 833px 925px #666, 490px 1147px #666,
      1140px 1801px #666, 259px 427px #666, 1627px 1950px #666, 1907px 116px #666,
      1336px 734px #666, 124px 1171px #666, 1797px 808px #666, 279px 923px #666,
      1515px 1140px #666, 1239px 589px #666, 212px 1912px #666, 8px 918px #666,
      258px 783px #666, 727px 1820px #666, 344px 360px #666, 1517px 1048px #666,
      822px 1598px #666, 1846px 630px #666, 401px 313px #666, 839px 1303px #666,
      511px 1112px #666, 339px 1678px #666, 1725px 222px #666, 12px 592px #666,
      462px 1079px #666, 1147px 1329px #666, 397px 750px #666, 1702px 1411px #666,
      1213px 1671px #666, 1234px 1271px #666, 403px 699px #666, 169px 1537px #666,
      797px 1797px #666, 1302px 1142px #666, 1226px 1250px #666, 430px 919px #666,
      1600px 1772px #666, 353px 1427px #666, 60px 969px #666, 321px 524px #666,
      761px 1037px #666, 1462px 1051px #666, 149px 1298px #666, 1163px 798px #666,
      1627px 551px #666, 1429px 1780px #666, 943px 1375px #666, 1374px 111px #666,
      1868px 1219px #666, 1299px 343px #666, 641px 1706px #666, 1811px 699px #666,
      1799px 1852px #666, 1792px 1842px #666, 1611px 1322px #666,
      1777px 1266px #666, 1910px 274px #666, 1756px 1293px #666,
      1446px 1110px #666, 606px 691px #666, 976px 1496px #666, 358px 198px #666,
      1401px 55px #666, 1487px 1074px #666, 1544px 1932px #666, 836px 372px #666,
      132px 141px #666, 1355px 155px #666, 134px 603px #666, 146px 1139px #666,
      1574px 1310px #666, 1898px 198px #666, 855px 1191px #666, 1221px 859px #666,
      1718px 799px #666, 1233px 1584px #666, 1886px 1022px #666, 579px 1699px #666,
      1432px 1676px #666, 249px 1496px #666, 1355px 129px #666, 1410px 1393px #666,
      1386px 781px #666, 1350px 1949px #666, 1667px 912px #666, 940px 561px #666,
      256px 172px #666, 347px 718px #666, 1708px 1474px #666, 1257px 1283px #666,
      940px 1042px #666, 467px 46px #666, 241px 1002px #666, 103px 1095px #666,
      154px 624px #666, 1304px 17px #666, 677px 284px #666, 1202px 1168px #666,
      262px 1136px #666, 15px 611px #666, 413px 1655px #666, 1577px 1797px #666,
      1493px 134px #666, 1307px 1617px #666, 838px 183px #666, 1302px 591px #666,
      158px 1114px #666, 1951px 407px #666, 1827px 585px #666, 1758px 1131px #666,
      1595px 1778px #666, 1498px 172px #666, 1562px 71px #666, 117px 1884px #666,
      872px 1871px #666, 499px 743px #666, 1896px 1321px #666, 338px 1591px #666,
      1757px 938px #666, 1722px 1500px #666, 647px 594px #666, 156px 729px #666,
      1886px 614px #666, 1164px 1465px #666, 1186px 657px #666, 1817px 1926px #666,
      848px 1195px #666, 975px 1918px #666, 194px 403px #666, 723px 745px #666,
      22px 677px #666, 958px 116px #666, 817px 614px #666, 340px 1598px #666,
      1799px 1106px #666, 1571px 1426px #666, 1374px 1615px #666,
      372px 1718px #666, 1633px 1594px #666, 1231px 1015px #666, 154px 1823px #666,
      121px 1662px #666, 1020px 192px #666, 339px 957px #666, 1257px 840px #666,
      1313px 1133px #666, 721px 1881px #666, 357px 1083px #666, 45px 917px #666,
      1977px 900px #666, 1900px 618px #666, 85px 97px #666, 1717px 1674px #666,
      558px 141px #666, 1783px 718px #666, 514px 963px #666, 1632px 1329px #666,
      629px 664px #666, 1289px 686px #666, 788px 619px #666, 1490px 130px #666,
      1463px 1397px #666, 1857px 1502px #666, 1387px 359px #666, 1055px 266px #666,
      1736px 400px #666, 660px 1278px #666, 1017px 1001px #666, 1057px 430px #666,
      1499px 771px #666, 1312px 1083px #666, 490px 1055px #666, 1132px 1619px #666,
      718px 1621px #666, 234px 467px #666, 1383px 1004px #666, 1360px 1871px #666,
      1133px 724px #666, 1874px 879px #666, 384px 1537px #666, 126px 46px #666,
      1732px 1801px #666, 191px 378px #666, 1429px 761px #666, 1436px 135px #666,
      955px 750px #666, 1276px 1335px #666, 1349px 1413px #666, 638px 49px #666,
      1756px 1322px #666, 1377px 133px #666, 1685px 1244px #666, 40px 1153px #666,
      1454px 1717px #666, 46px 691px #666, 1341px 234px #666, 1455px 1703px #666,
      1138px 1223px #666, 1716px 756px #666, 1677px 611px #666, 1332px 502px #666,
      718px 677px #666, 238px 95px #666, 1258px 503px #666, 1389px 110px #666,
      1035px 1222px #666, 1787px 1227px #666, 1847px 882px #666,
      1808px 1586px #666, 1946px 1977px #666, 1520px 1684px #666, 428px 711px #666,
      522px 204px #666, 1840px 1805px #666, 986px 866px #666, 1837px 97px #666,
      243px 800px #666, 1094px 1991px #666, 1296px 810px #666, 1656px 1842px #666,
      580px 1251px #666, 1851px 514px #666, 1559px 1408px #666, 379px 1262px #666,
      186px 1444px #666, 1326px 229px #666, 825px 1469px #666, 86px 314px #666,
      1370px 1838px #666, 1890px 741px #666, 490px 189px #666, 1730px 1011px #666,
      1112px 1803px #666, 1861px 1481px #666, 82px 945px #666, 57px 571px #666,
      1242px 1365px #666, 1994px 1468px #666, 1794px 1871px #666,
      1475px 948px #666, 439px 1642px #666, 138px 1545px #666, 1289px 1937px #666,
      1492px 248px #666, 207px 497px #666, 137px 1496px #666, 237px 748px #666,
      172px 1644px #666, 1751px 1856px #666, 241px 808px #666, 1382px 153px #666,
      817px 57px #666, 1693px 703px #666, 1948px 1787px #666, 779px 1740px #666,
      1042px 1517px #666, 1359px 48px #666, 1423px 411px #666, 1516px 1682px #666,
      1341px 130px #666, 1654px 1258px #666, 991px 353px #666, 996px 421px #666,
      240px 1635px #666, 1445px 951px #666, 1898px 435px #666, 1891px 1107px #666,
      175px 1540px #666, 1367px 1357px #666, 820px 604px #666, 1417px 1908px #666,
      1172px 1972px #666, 1782px 515px #666, 488px 156px #666, 1486px 1359px #666,
      699px 305px #666, 640px 1287px #666, 269px 496px #666, 568px 1082px #666,
      1808px 1334px #666, 1108px 1835px #666, 616px 739px #666, 475px 1669px #666,
      748px 534px #666, 248px 387px #666, 1131px 831px #666, 1992px 1754px #666,
      1105px 1339px #666, 1324px 1208px #666, 1419px 687px #666, 454px 803px #666,
      875px 1263px #666, 1973px 882px #666, 52px 1486px #666, 1778px 155px #666,
      971px 345px #666, 16px 1926px #666, 196px 1333px #666, 1769px 1017px #666,
      1817px 1473px #666, 205px 1756px #666, 851px 1832px #666, 910px 1636px #666,
      1050px 1541px #666, 16px 761px #666, 46px 232px #666, 1151px 393px #666,
      782px 1223px #666, 646px 439px #666, 25px 1174px #666, 460px 1357px #666,
      1903px 1363px #666, 177px 1086px #666, 976px 199px #666, 1244px 1494px #666,
      478px 1374px #666, 773px 1982px #666, 1929px 1257px #666, 1445px 485px #666,
      1286px 1567px #666, 1490px 1061px #666, 1802px 893px #666, 790px 1398px #666,
      1524px 1932px #666, 1738px 1614px #666, 1700px 1170px #666, 103px 73px #666,
      250px 230px #666, 1940px 1946px #666, 1616px 804px #666, 1630px 1544px #666,
      1860px 1131px #666, 1130px 20px #666, 1797px 807px #666, 919px 1687px #666,
      149px 105px #666, 1588px 942px #666, 906px 1074px #666, 924px 432px #666,
      1115px 11px #666, 537px 1828px #666, 525px 1000px #666, 1978px 1693px #666,
      254px 1037px #666, 22px 1940px #666, 1862px 855px #666, 121px 45px #666,
      1993px 897px #666, 401px 1778px #666, 870px 1968px #666, 1639px 1343px #666,
      767px 71px #666, 1908px 1767px #666, 882px 582px #666, 1117px 1055px #666,
      127px 837px #666, 803px 913px #666, 425px 598px #666, 1670px 39px #666,
      1431px 1809px #666, 917px 213px #666, 1491px 934px #666, 207px 1233px #666,
      1292px 545px #666, 239px 653px #666, 328px 422px #666, 428px 566px #666,
      236px 51px #666, 914px 1993px #666, 203px 1928px #666, 1644px 2000px #666,
      1005px 151px #666, 1619px 430px #666, 315px 216px #666, 721px 431px #666,
      1729px 717px #666, 1883px 1856px #666, 329px 580px #666, 1350px 1497px #666,
      77px 1916px #666, 131px 322px #666, 1919px 307px #666, 258px 21px #666,
      1386px 1897px #666, 1111px 41px #666, 1151px 1075px #666, 1982px 407px #666,
      1672px 1486px #666, 903px 1651px #666, 828px 245px #666, 1899px 1292px #666,
      833px 786px #666, 236px 514px #666, 711px 1677px #666, 1340px 207px #666,
      781px 1875px #666, 1732px 567px #666, 1069px 1591px #666, 383px 1543px #666,
      980px 1013px #666, 1693px 1136px #666, 624px 1967px #666, 1585px 955px #666,
      484px 1946px #666, 1031px 1335px #666, 1172px 937px #666, 1805px 1722px #666,
      1525px 748px #666, 472px 1401px #666, 1710px 521px #666, 1955px 593px #666,
      1004px 328px #666, 689px 783px #666, 202px 1517px #666, 655px 1178px #666,
      686px 579px #666, 1706px 456px #666, 1400px 199px #666, 1587px 693px #666,
      1353px 1095px #666, 1236px 1002px #666, 414px 628px #666, 743px 1674px #666,
      718px 1024px #666, 1125px 947px #666, 1299px 710px #666, 1864px 1076px #666,
      1231px 572px #666, 349px 967px #666, 928px 1893px #666, 1630px 82px #666,
      1235px 1115px #666, 1350px 1418px #666, 101px 1008px #666, 860px 1245px #666,
      1598px 1141px #666, 274px 1856px #666, 1429px 1615px #666,
      1448px 1461px #666, 1604px 214px #666, 221px 540px #666, 194px 454px #666,
      1026px 18px #666, 843px 643px #666, 930px 43px #666, 1287px 114px #666,
      431px 1882px #666, 1928px 1390px #666, 1567px 619px #666, 1030px 1409px #666,
      725px 1017px #666, 1250px 1039px #666, 137px 1535px #666, 1221px 1849px #666,
      215px 1592px #666, 1021px 1136px #666, 648px 1258px #666, 1808px 1933px #666,
      577px 1716px #666, 1674px 1389px #666, 679px 452px #666, 634px 562px #666,
      480px 905px #666, 407px 786px #666, 1422px 449px #666, 526px 16px #666,
      243px 1948px #666, 63px 1556px #666, 1303px 658px #666, 353px 37px #666,
      899px 1923px #666, 1827px 1302px #666, 989px 1990px #666, 1359px 840px #666,
      418px 268px #666, 736px 1505px #666, 951px 1324px #666, 34px 880px #666,
      1689px 1537px #666, 1068px 1257px #666, 1794px 75px #666, 999px 281px #666,
      709px 173px #666, 1607px 1311px #666, 622px 1433px #666, 393px 689px #666,
      709px 1086px #666, 318px 1350px #666, 68px 727px #666, 1713px 139px #666,
      560px 873px #666, 238px 1353px #666, 1221px 288px #666, 1618px 1623px #666,
      1190px 55px #666, 358px 1147px #666, 615px 769px #666, 998px 1285px #666,
      1632px 1223px #666, 1705px 410px #666, 1305px 558px #666, 987px 1586px #666,
      1060px 384px #666, 1840px 1027px #666, 71px 782px #666, 1883px 1528px #666,
      163px 1321px #666, 1293px 1589px #666, 1376px 1163px #666, 228px 459px #666,
      552px 228px #666, 803px 1148px #666, 1985px 1400px #666, 268px 1856px #666,
      1442px 1228px #666, 527px 982px #666, 20px 489px #666, 671px 79px #666,
      364px 1518px #666, 619px 1052px #666, 1196px 393px #666, 1251px 1281px #666,
      816px 247px #666, 569px 1370px #666, 692px 1840px #666, 372px 1532px #666,
      774px 1982px #666, 236px 599px #666, 1964px 1166px #666, 1856px 1535px #666,
      157px 727px #666, 737px 300px #666, 1185px 967px #666, 457px 1668px #666,
      563px 1069px #666, 95px 78px #666, 139px 1555px #666, 342px 1089px #666,
      8px 921px #666, 125px 932px #666, 727px 838px #666, 104px 984px #666,
      105px 1487px #666, 768px 233px #666, 881px 267px #666, 1107px 694px #666,
      1834px 936px #666, 1087px 1004px #666, 599px 265px #666, 1705px 164px #666,
      1529px 1014px #666, 1517px 1892px #666, 1429px 990px #666,
      1679px 1742px #666, 955px 1244px #666, 1350px 990px #666, 1981px 260px #666,
      398px 1556px #666, 212px 519px #666, 909px 382px #666, 1521px 511px #666,
      1659px 82px #666, 645px 1387px #666, 240px 1005px #666, 1220px 413px #666,
      410px 1350px #666, 1453px 1065px #666, 592px 1543px #666, 1050px 1490px #666,
      994px 454px #666, 371px 316px #666, 261px 1017px #666, 1706px 857px #666,
      1541px 1531px #666, 1141px 740px #666, 120px 1864px #666, 1756px 928px #666,
      1971px 1116px #666, 1011px 1900px #666, 841px 401px #666, 508px 1842px #666,
      1441px 1073px #666, 587px 789px #666, 1504px 531px #666, 234px 500px #666,
      826px 510px #666, 1030px 677px #666, 571px 658px #666, 1434px 885px #666,
      823px 1170px #666, 1342px 187px #666, 1902px 1509px #666, 1260px 767px #666,
      1851px 709px #666, 584px 138px #666, 1040px 5px #666, 69px 1494px #666,
      1774px 19px #666, 382px 776px #666, 1253px 943px #666, 199px 598px #666,
      912px 1079px #666, 1826px 1726px #666, 821px 1984px #666, 1908px 1608px #666,
      371px 742px #666, 148px 21px #666, 833px 244px #666, 147px 1039px #666,
      1175px 1810px #666, 86px 1149px #666, 1141px 1764px #666, 1592px 834px #666,
      1472px 446px #666, 1833px 1070px #666, 892px 1988px #666, 1998px 516px #666,
      1374px 1184px #666, 143px 1833px #666, 1371px 998px #666, 263px 1104px #666,
      1787px 1508px #666, 1101px 1066px #666, 1455px 897px #666, 867px 989px #666,
      300px 501px #666, 724px 604px #666, 983px 1177px #666, 1684px 1037px #666,
      460px 307px #666, 721px 1712px #666, 537px 708px #666, 685px 657px #666,
      1035px 890px #666, 1398px 1479px #666, 309px 839px #666, 582px 1977px #666,
      1930px 1759px #666, 761px 1641px #666, 492px 1952px #666, 102px 1542px #666;
  }
  
  #stars2 {
    width: 2px;
    height: 2px;
    
    box-shadow: 1565px 1907px #666, 629px 1286px #666, 135px 583px #666,
      93px 55px #666, 1440px 1263px #666, 1389px 860px #666, 1458px 431px #666,
      290px 1750px #666, 1465px 442px #666, 1704px 1883px #666, 1333px 1862px #666,
      1106px 1430px #666, 1821px 1034px #666, 473px 668px #666, 660px 923px #666,
      1108px 519px #666, 446px 607px #666, 1070px 1728px #666, 813px 273px #666,
      1002px 1561px #666, 493px 769px #666, 96px 262px #666, 3px 792px #666,
      1108px 482px #666, 1625px 578px #666, 171px 735px #666, 1189px 675px #666,
      422px 329px #666, 425px 873px #666, 229px 1265px #666, 1021px 697px #666,
      1343px 1218px #666, 1548px 1850px #666, 1045px 99px #666, 718px 512px #666,
      1662px 1042px #666, 1906px 371px #666, 931px 1872px #666, 807px 830px #666,
      356px 77px #666, 1011px 104px #666, 989px 1337px #666, 1516px 1268px #666,
      474px 1429px #666, 617px 721px #666, 1636px 1967px #666, 1156px 497px #666,
      904px 647px #666, 395px 502px #666, 595px 1311px #666, 787px 991px #666,
      1453px 746px #666, 207px 1491px #666, 794px 700px #666, 1100px 883px #666,
      1203px 48px #666, 1547px 1638px #666, 742px 434px #666, 1178px 525px #666,
      1451px 1742px #666, 577px 1774px #666, 343px 1202px #666, 1619px 327px #666,
      872px 1220px #666, 1342px 422px #666, 264px 569px #666, 948px 451px #666,
      1985px 1566px #666, 1227px 976px #666, 1814px 1211px #666, 864px 881px #666,
      1553px 916px #666, 2px 338px #666, 801px 247px #666, 374px 1513px #666,
      540px 1812px #666, 474px 128px #666, 817px 1525px #666, 1997px 252px #666,
      419px 813px #666, 1159px 574px #666, 67px 571px #666, 393px 1124px #666,
      1150px 1871px #666, 1525px 1966px #666, 1063px 1352px #666, 700px 690px #666,
      1681px 1276px #666, 1817px 979px #666, 306px 1307px #666, 625px 409px #666,
      1323px 369px #666, 3px 1173px #666, 1744px 966px #666, 996px 1771px #666,
      1883px 170px #666, 1620px 1659px #666, 1347px 762px #666, 290px 1802px #666,
      1167px 1708px #666, 115px 665px #666, 569px 825px #666, 510px 1458px #666,
      1331px 541px #666, 1004px 517px #666, 44px 745px #666, 465px 1317px #666,
      1713px 872px #666, 584px 1635px #666, 561px 1248px #666, 1504px 694px #666,
      1920px 66px #666, 1700px 1879px #666, 1977px 437px #666, 1148px 1757px #666,
      1015px 481px #666, 1316px 1139px #666, 1815px 595px #666, 1770px 1914px #666,
      920px 1408px #666, 1924px 286px #666, 431px 1956px #666, 1981px 15px #666,
      1915px 1238px #666, 1502px 313px #666, 1677px 184px #666, 800px 1093px #666,
      940px 855px #666, 1220px 509px #666, 1756px 1983px #666, 529px 709px #666,
      525px 61px #666, 1375px 1477px #666, 1445px 77px #666, 654px 1338px #666,
      563px 758px #666, 38px 362px #666, 1601px 39px #666, 1245px 1198px #666,
      632px 1902px #666, 1531px 1158px #666, 1141px 465px #666, 27px 56px #666,
      414px 1807px #666, 1481px 435px #666, 1046px 1974px #666, 1786px 484px #666,
      454px 1843px #666, 1255px 1287px #666, 1254px 266px #666, 361px 1173px #666,
      1718px 447px #666, 550px 774px #666, 908px 110px #666, 464px 1613px #666,
      444px 1700px #666, 989px 1632px #666, 41px 1591px #666, 1407px 10px #666,
      854px 277px #666, 949px 1315px #666, 36px 1957px #666, 1804px 1869px #666,
      175px 638px #666, 824px 380px #666, 235px 1798px #666, 699px 1751px #666,
      138px 553px #666, 505px 1642px #666, 844px 1588px #666, 1835px 1023px #666,
      139px 884px #666, 1059px 1954px #666, 628px 828px #666, 544px 462px #666,
      787px 1378px #666, 1768px 433px #666, 1479px 1563px #666, 1872px 551px #666,
      959px 275px #666, 687px 234px #666, 820px 166px #666, 605px 115px #666,
      661px 278px #666, 1120px 611px #666, 1307px 1233px #666, 1060px 505px #666,
      220px 362px #666, 1482px 681px #666, 1697px 306px #666, 408px 245px #666,
      663px 812px #666, 1546px 1969px #666, 222px 1106px #666, 1704px 823px #666,
      161px 1956px #666, 1559px 947px #666, 1761px 742px #666, 1439px 1950px #666,
      1896px 110px #666;
    animation: animStar 100s linear infinite;
  }
  #stars2:after {
    
    position: absolute;
    width: 2px;
    height: 2px;
    
    box-shadow: 1565px 1907px #666, 629px 1286px #666, 135px 583px #666,
      93px 55px #666, 1440px 1263px #666, 1389px 860px #666, 1458px 431px #666,
      290px 1750px #666, 1465px 442px #666, 1704px 1883px #666, 1333px 1862px #666,
      1106px 1430px #666, 1821px 1034px #666, 473px 668px #666, 660px 923px #666,
      1108px 519px #666, 446px 607px #666, 1070px 1728px #666, 813px 273px #666,
      1002px 1561px #666, 493px 769px #666, 96px 262px #666, 3px 792px #666,
      1108px 482px #666, 1625px 578px #666, 171px 735px #666, 1189px 675px #666,
      422px 329px #666, 425px 873px #666, 229px 1265px #666, 1021px 697px #666,
      1343px 1218px #666, 1548px 1850px #666, 1045px 99px #666, 718px 512px #666,
      1662px 1042px #666, 1906px 371px #666, 931px 1872px #666, 807px 830px #666,
      356px 77px #666, 1011px 104px #666, 989px 1337px #666, 1516px 1268px #666,
      474px 1429px #666, 617px 721px #666, 1636px 1967px #666, 1156px 497px #666,
      904px 647px #666, 395px 502px #666, 595px 1311px #666, 787px 991px #666,
      1453px 746px #666, 207px 1491px #666, 794px 700px #666, 1100px 883px #666,
      1203px 48px #666, 1547px 1638px #666, 742px 434px #666, 1178px 525px #666,
      1451px 1742px #666, 577px 1774px #666, 343px 1202px #666, 1619px 327px #666,
      872px 1220px #666, 1342px 422px #666, 264px 569px #666, 948px 451px #666,
      1985px 1566px #666, 1227px 976px #666, 1814px 1211px #666, 864px 881px #666,
      1553px 916px #666, 2px 338px #666, 801px 247px #666, 374px 1513px #666,
      540px 1812px #666, 474px 128px #666, 817px 1525px #666, 1997px 252px #666,
      419px 813px #666, 1159px 574px #666, 67px 571px #666, 393px 1124px #666,
      1150px 1871px #666, 1525px 1966px #666, 1063px 1352px #666, 700px 690px #666,
      1681px 1276px #666, 1817px 979px #666, 306px 1307px #666, 625px 409px #666,
      1323px 369px #666, 3px 1173px #666, 1744px 966px #666, 996px 1771px #666,
      1883px 170px #666, 1620px 1659px #666, 1347px 762px #666, 290px 1802px #666,
      1167px 1708px #666, 115px 665px #666, 569px 825px #666, 510px 1458px #666,
      1331px 541px #666, 1004px 517px #666, 44px 745px #666, 465px 1317px #666,
      1713px 872px #666, 584px 1635px #666, 561px 1248px #666, 1504px 694px #666,
      1920px 66px #666, 1700px 1879px #666, 1977px 437px #666, 1148px 1757px #666,
      1015px 481px #666, 1316px 1139px #666, 1815px 595px #666, 1770px 1914px #666,
      920px 1408px #666, 1924px 286px #666, 431px 1956px #666, 1981px 15px #666,
      1915px 1238px #666, 1502px 313px #666, 1677px 184px #666, 800px 1093px #666,
      940px 855px #666, 1220px 509px #666, 1756px 1983px #666, 529px 709px #666,
      525px 61px #666, 1375px 1477px #666, 1445px 77px #666, 654px 1338px #666,
      563px 758px #666, 38px 362px #666, 1601px 39px #666, 1245px 1198px #666,
      632px 1902px #666, 1531px 1158px #666, 1141px 465px #666, 27px 56px #666,
      414px 1807px #666, 1481px 435px #666, 1046px 1974px #666, 1786px 484px #666,
      454px 1843px #666, 1255px 1287px #666, 1254px 266px #666, 361px 1173px #666,
      1718px 447px #666, 550px 774px #666, 908px 110px #666, 464px 1613px #666,
      444px 1700px #666, 989px 1632px #666, 41px 1591px #666, 1407px 10px #666,
      854px 277px #666, 949px 1315px #666, 36px 1957px #666, 1804px 1869px #666,
      175px 638px #666, 824px 380px #666, 235px 1798px #666, 699px 1751px #666,
      138px 553px #666, 505px 1642px #666, 844px 1588px #666, 1835px 1023px #666,
      139px 884px #666, 1059px 1954px #666, 628px 828px #666, 544px 462px #666,
      787px 1378px #666, 1768px 433px #666, 1479px 1563px #666, 1872px 551px #666,
      959px 275px #666, 687px 234px #666, 820px 166px #666, 605px 115px #666,
      661px 278px #666, 1120px 611px #666, 1307px 1233px #666, 1060px 505px #666,
      220px 362px #666, 1482px 681px #666, 1697px 306px #666, 408px 245px #666,
      663px 812px #666, 1546px 1969px #666, 222px 1106px #666, 1704px 823px #666,
      161px 1956px #666, 1559px 947px #666, 1761px 742px #666, 1439px 1950px #666,
      1896px 110px #666;
  }
  
  #stars3 {
    width: 3px;
    height: 3px;
    
    box-shadow: 1323px 1893px #666, 1936px 1293px #666, 582px 1045px #666,
      137px 1507px #666, 829px 341px #666, 418px 1817px #666, 513px 1836px #666,
      1872px 353px #666, 1449px 1774px #666, 1347px 872px #666, 790px 1215px #666,
      875px 806px #666, 415px 255px #666, 294px 695px #666, 616px 140px #666,
      214px 1419px #666, 1323px 1783px #666, 679px 1331px #666, 372px 1339px #666,
      1876px 1849px #666, 258px 1132px #666, 702px 275px #666, 226px 497px #666,
      336px 446px #666, 1443px 928px #666, 1078px 758px #666, 705px 867px #666,
      1708px 1449px #666, 329px 1296px #666, 4px 1688px #666, 418px 1407px #666,
      1708px 1164px #666, 1864px 223px #666, 863px 1692px #666, 517px 1455px #666,
      1267px 1105px #666, 1806px 323px #666, 563px 1555px #666, 1912px 995px #666,
      867px 930px #666, 677px 475px #666, 963px 463px #666, 129px 276px #666,
      1948px 575px #666, 229px 110px #666, 1405px 1000px #666, 624px 449px #666,
      1045px 63px #666, 1471px 1017px #666, 157px 221px #666, 1930px 1831px #666,
      870px 166px #666, 1414px 51px #666, 1561px 364px #666, 1558px 126px #666,
      708px 475px #666, 515px 658px #666, 259px 11px #666, 829px 1110px #666,
      1066px 564px #666, 1415px 741px #666, 1577px 804px #666, 196px 193px #666,
      1164px 1977px #666, 439px 156px #666, 1257px 79px #666, 1611px 459px #666,
      613px 233px #666, 720px 846px #666, 435px 1021px #666, 1368px 282px #666,
      336px 1396px #666, 243px 1137px #666, 587px 124px #666, 82px 1330px #666,
      1548px 1447px #666, 1646px 1255px #666, 1287px 691px #666,
      1935px 1572px #666, 1279px 1534px #666, 1858px 8px #666, 933px 1263px #666,
      270px 73px #666, 1597px 1326px #666, 638px 1277px #666, 928px 1021px #666,
      1743px 467px #666, 1572px 1568px #666, 1899px 162px #666, 885px 707px #666,
      1392px 1837px #666, 931px 1844px #666, 476px 881px #666, 1976px 1709px #666,
      317px 21px #666, 961px 1419px #666, 605px 1652px #666, 1612px 171px #666,
      857px 1813px #666, 501px 3px #666;
    animation: animStar 150s linear infinite;
  }
  #stars3:after {
    
    position: absolute;
    width: 3px;
    height: 3px;
    
    box-shadow: 1323px 1893px #666, 1936px 1293px #666, 582px 1045px #666,
      137px 1507px #666, 829px 341px #666, 418px 1817px #666, 513px 1836px #666,
      1872px 353px #666, 1449px 1774px #666, 1347px 872px #666, 790px 1215px #666,
      875px 806px #666, 415px 255px #666, 294px 695px #666, 616px 140px #666,
      214px 1419px #666, 1323px 1783px #666, 679px 1331px #666, 372px 1339px #666,
      1876px 1849px #666, 258px 1132px #666, 702px 275px #666, 226px 497px #666,
      336px 446px #666, 1443px 928px #666, 1078px 758px #666, 705px 867px #666,
      1708px 1449px #666, 329px 1296px #666, 4px 1688px #666, 418px 1407px #666,
      1708px 1164px #666, 1864px 223px #666, 863px 1692px #666, 517px 1455px #666,
      1267px 1105px #666, 1806px 323px #666, 563px 1555px #666, 1912px 995px #666,
      867px 930px #666, 677px 475px #666, 963px 463px #666, 129px 276px #666,
      1948px 575px #666, 229px 110px #666, 1405px 1000px #666, 624px 449px #666,
      1045px 63px #666, 1471px 1017px #666, 157px 221px #666, 1930px 1831px #666,
      870px 166px #666, 1414px 51px #666, 1561px 364px #666, 1558px 126px #666,
      708px 475px #666, 515px 658px #666, 259px 11px #666, 829px 1110px #666,
      1066px 564px #666, 1415px 741px #666, 1577px 804px #666, 196px 193px #666,
      1164px 1977px #666, 439px 156px #666, 1257px 79px #666, 1611px 459px #666,
      613px 233px #666, 720px 846px #666, 435px 1021px #666, 1368px 282px #666,
      336px 1396px #666, 243px 1137px #666, 587px 124px #666, 82px 1330px #666,
      1548px 1447px #666, 1646px 1255px #666, 1287px 691px #666,
      1935px 1572px #666, 1279px 1534px #666, 1858px 8px #666, 933px 1263px #666,
      270px 73px #666, 1597px 1326px #666, 638px 1277px #666, 928px 1021px #666,
      1743px 467px #666, 1572px 1568px #666, 1899px 162px #666, 885px 707px #666,
      1392px 1837px #666, 931px 1844px #666, 476px 881px #666, 1976px 1709px #666,
      317px 21px #666, 961px 1419px #666, 605px 1652px #666, 1612px 171px #666,
      857px 1813px #666, 501px 3px #666;
  }
  
  
  @keyframes animStar {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(-900px);
    }
  }